#about {
    margin-top: 10vh;
}

h1 {
    font-size: 7vh;

}

p {
    font-size: 3vh;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    border-bottom: 8vh solid red;
    float: right;
    margin-right: 30vh;
    margin-top: 2vh;

}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    border-top: 8vh solid red;
    float: right;
    margin-right: -8vh;
    margin-top: 7vh;
}